.headerRight{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    gap: 20px;
}

.headerLeft{
    display: flex;
    gap: 40px;
    padding-left: 100px;
    padding-top: 20px;
}
