.hontai:hover{
    color: brown;
    transition: 0s;
}

.hontai{
    color: grey;
    transition: 0.5s;
    display: flex;
    align-items: center;
}

.font{
    font-size: 15px;
    padding-left: 10px;
    position: relative;
    display: block;
    cursor: pointer;
    padding: 10px;
}
