.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
}

.text{
    
}

.software{
    color: gray;
    transition: color 0.3s ease;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.font{
    font-size: 20px;
}

.container:hover .software{
    color:lightgrey;
}

.allow{
    color: red;
}

.horizontalLine {
    display:flex;
    border: 0;
    height: 5px;
    background-color: lightgray;
    margin: 10px auto 10px; 
    width: 100%; 
    transition: background-color 0.3s;
}

.container:hover .horizontalLine{
    background-color: red;
}
