.Character {
    color: grey;
    transition: color 0.5s ease;
    display: flex;
    align-items: center;
}

.font {
    font-size: 15px;
    padding-left: 10px;
    white-space: nowrap;
}

.Character:hover {
    color: brown;
    transition: 0s;
}
a {
    text-decoration: none;
}